# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven / Gradle build folders
target/
build/
.gradle/

# IDE files
.idea/
*.iml
.eclipse/
.settings/
.classpath
.project
*.vscode/

# OS files
.DS_Store
Thumbs.db